<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="container">
		<div class="form-wrapper">
	<h2>
		<%= @user.user_name %>
	</h2>
	<h5>
		<i class="icon-envelope"><%= @user.email %></i>
	</h5>
	<strong>
		Groups:
	</strong>
		<% @user.all_following.each do |following| %>
			<% if following %>
				<div><%= link_to following.name, group_path(following.id) %></div>
			<% end %>
		<% end %>

	<% if current_user.id == @user.id %>
			<%= form_tag({controller: "users", action: "add_url"}, method: "post") do %>
    		<%= label_tag(:url, "Add URL:") %>
    		<%= text_field_tag(:url) %>
    		<%= submit_tag("Add URL") %>
	<% end %>
		<h3>
			Your Photo URLS:
		</h3>
			<% @user.image_urls.each do |url| %>
					<p> <%= image_tag(url) %> <br>
			<% end %>
			<p><b> [<%= @user.scoresstr %>] </b></p>

	<% end %>

</div>
</div>
</body>
</html>
